<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
	<header th:insert="fragments.html :: nav"></header>
	<div class="container">
	
	<div class="row my-5">
			<div class="list-group list-group-flush col-5">
				<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/marque-form}">Manage Marque</a>
					<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/marque-form}">Manage Marque</a>
				<a class="list-group-item list-group-item-action" 
					href="#" th:href="@{/manager/product-form}">Manage Product</a>
					
			</div>

		<table class="table col-7">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Marque Name</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="marque : ${marqueList}">
					<th scope="row" th:text="${marque.marqueId}"></th>
					<td th:text="${marque.marqueName}"></td>
					<td>
						<a href="#" th:href="@{'/manager/updateMarque/'+ ${marque.marqueId}}" 
						class="btn btn-danger">Update</a>
						<a href="#" th:href="@{'/manager/delete-Marque/'+ ${marque.marqueId}}" 
						class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>

		<div
			style="width: 600px; margin-left: auto; margin-right: auto; margin-top: 24px; padding: 24px;">
			<div class="card">
				<div class="card-block" style="padding: 24px;">
					<form th:action="@{/manager/add-marque}" method="post">
						<fieldset>
							<div class="form-group">
								<label for="marqueName">Marque Name</label> <input
									type="text" class="form-control" id="marqueName"
									name="marqueName" placeholder="marque Name">
							</div>

							<div class="form-actions" style="margin-top: 12px;">
								<button type="submit" class="btn btn-success">ADD</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>